<IfModule mod_rewrite.c>
    RewriteEngine On
    # Change RewriteBase if your project is in a different folder (e.g. /mystore/public/)
RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
